.user-trends-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(180deg, #F1F1F1 50%, #E6E6E6 50%);
    min-height: 150px;
}

.user-trend-item {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 32px;
    text-align: center;
    color: black;
}

.trends-title-highlight {
    color: red;
    font-weight: bold;
}