.get-back-header-container {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-secondary);
}

.homepage-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.get-back-user-name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.get-back-user-name {
    margin-left: .75rem;
    line-height: 1rem;
    font-size: 1rem;
}

.home-page-link {
    padding-left: .3rem;
    padding-top: .25rem;
    line-height: 1rem;
    color: var(--link-color-primary);
}