.icon.spinner-small {
  width: 100px;
  height: 100px;
}

.icon.spinner-large {
  width: 200px;
  height: 200px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
