.greeting-header-container {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E6E6E6;
}

.user-name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-name {
    margin-left: .75rem;
    line-height: 1rem;
    font-size: 1rem;
}