.greeting-header-container {
    display: flex;
    padding-top: .5rem;
    align-items: center;
    justify-content: space-between;
    margin: .75rem .5rem 1rem .5rem;
}

.user-name {
    line-height: 1rem;
    font-size: 1rem;
}